<div class="wrapper">

    <app-navbar></app-navbar>
  
    <app-sidebar></app-sidebar>
  
    <div class="content-wrapper">
  
        <section class="content">
  
            <div class="container-fluid">

                <app-title [title]="title" 
                           [breadcrumbtitle]="breadcrumbtitle" 
                           [breadcrumbtitle2]="breadcrumbtitle2">
                </app-title>

                <app-loading *ngIf="loading"></app-loading>        
                
                <div *ngIf="!loading">
                
                    <div class="card"> 

                        <div class="card-body">
                            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-group">                                
                                      
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <textarea 
                                        type="text" 
                                        name="nombre"
                                        class="form-control"
                                        [(ngModel)]="actividad.nombre"
                                        [ngClass]="{'is-invalid':f.submitted && f.controls['nombre'].errors}"
                                        maxlength="450"
                                        required
                                    >
                                    </textarea>
                                </div> 
                                <div class="form-group">
                                    <label for="tipotrabajo">Tipo de Trabajo:</label>
                                    <select 
                                        name="tipotrabajo"                         
                                        class="form-control" 
                                        [(ngModel)]="actividad.tipotrabajo" 
                                        [ngClass]="{'is-invalid':f.submitted && f.controls['tipotrabajo'].errors}"    
                                        required
                                    >                            
                                        <option [value]="t._id" *ngFor="let t of listadoTipoTrabajo">{{ t.nombre }}</option>
                                    </select>
                                </div>    
                                <div class="form-group">
                                    <label for="orden">Orden:</label>
                                    <input 
                                        type="number"
                                        name="orden"                         
                                        class="form-control" 
                                        [(ngModel)]="actividad.orden" 
                                        [ngClass]="{'is-invalid':f.submitted && f.controls['orden'].errors}"    
                                        required
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="orden">Calificación:</label>
                                    <input 
                                        type="number"
                                        name="calificacion"                         
                                        class="form-control" 
                                        [(ngModel)]="actividad.calificacion" 
                                        [ngClass]="{'is-invalid':f.submitted && f.controls['calificacion'].errors}"    
                                        required
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="role">Perfil:</label>
                                    <select 
                                        name="role"
                                        class="form-control"
                                        [(ngModel)]="actividad.role"
                                        [ngClass]="{'is-invalid':f.submitted && f.controls['role'].errors}"
                                        required
                                    >
                                        <option 
                                            value="SUPERVISOR SSTA"
                                            [selected]="actividad.role == 'SUPERVISOR SSTA'"
                                        >
                                            SUPERVISOR SSTA
                                        </option>
                                        <option 
                                            value="SUPERVISOR LEGAL LABORAL"
                                            [selected]="actividad.role == 'SUPERVISOR LEGAL LABORAL'"
                                        >
                                            SUPERVISOR LEGAL LABORAL
                                        </option>
                                        <option 
                                        value="SUPERVISOR DEL CONTRATO"
                                        [selected]="actividad.role == 'SUPERVISOR DEL CONTRATO'"
                                    >
                                        SUPERVISOR DEL CONTRATO
                                    </option>                              
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">
                                        <i [ngClass]="{'fa-refresh fa-spin':loadingButton}" class="fa"></i>
                                        Guardar
                                    </button>  
                                    <a class="btn btn-default ml-1" [routerLink]="['../../listaractividades']">
                                        Cancelar
                                    </a>
                                </div>      
                                    
                            </form>
                        </div>

                    </div>
                    
                </div>
                
            </div>

        </section>  

    </div>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>

</div>