<div class="wrapper">

    <app-navbar></app-navbar>
  
    <app-sidebar></app-sidebar>
  
    <div class="content-wrapper">
  
      <section class="content">
  
        <div class="container-fluid">

          <app-loading *ngIf="loading"></app-loading>        
         
          <div *ngIf="!loading">
            
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                    <h6>1.0.1</h6>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">

                <div class="info-box">
                  <span class="info-box-icon bg-info elevation-1"><i class="fa fa-briefcase"></i></span>    
                  <div class="info-box-content">
                    <span class="info-box-text">ORDENES ASIGNADAS</span>
                    <span class="info-box-number">
                      {{ estado1 }}
                    </span>
                  </div>              
                </div>        
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-rocket"></i></span>    
                  <div class="info-box-content">
                    <span class="info-box-text">ORDENES EN PROCESO</span>
                    <span class="info-box-number">
                      {{ estado2 }}
                    </span>
                  </div>              
                </div>        
              </div> 

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-success elevation-1"><i class="fa fa-hand-peace-o"></i></span>    
                  <div class="info-box-content">
                    <span class="info-box-text">ORDENES CUMPLIDAS</span>
                    <span class="info-box-number">
                      {{ estado3 }}
                    </span>
                  </div>              
                </div>        
              </div>  

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-meh-o"></i></span>    
                  <div class="info-box-content">
                    <span class="info-box-text">ORDENES NO CUMPLIDAS</span>
                    <span class="info-box-number">
                      {{ estado4 }}
                    </span>
                  </div>              
                </div>        
              </div>       

            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-md-3 d-none">                
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [responsive]="chartOptions.responsive"
                ></apx-chart>
                <button (click)="showPdf()">Open PDF</button>                
              </div>
            </div>            

          </div>

        </div>

    </section>  
    
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>

</div>