<div class="wrapper">

    <app-navbar></app-navbar>
  
    <app-sidebar></app-sidebar>
  
    <div class="content-wrapper">
  
      <section class="content">
  
        <div class="container-fluid">
                  
          <app-title [title]="title" 
                     [breadcrumbtitle]="breadcrumbtitle" 
                     [breadcrumbtitle2]="breadcrumbtitle2">
          </app-title>
          <app-loading *ngIf="loading"></app-loading>    
              
          <div *ngIf="!loading">

            <div *ngFor="let lista of listado" class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">
                    {{ lista.tipotrabajo.nombre }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    
                    <span *ngIf="lista.estado == 'EN PROCESO'" class="badge badge-light">
                      {{ lista.estado }}
                    </span>
                    <span *ngIf="lista.estado == 'CUMPLE'" class="badge badge-success">
                      {{ lista.estado }}
                    </span>
                    <span *ngIf="lista.estado == 'NO CUMPLE'" class="badge badge-danger">
                      {{ lista.estado }}
                    </span>                  
                  </h3>        
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>              
                <div class="card-body" style="display: block;">
                    <table class="table">
                      <span *ngFor="let actividad of listadoActividades">
                        <tr *ngIf="actividad.ordentipotrabajo == lista._id && actividad.actividad">
                          <td style="width: 90%">
                            <div class="row">
                              {{ actividad.actividad.nombre }}
                            </div>
                            <div class="row mt-2">
                              <span>
                                <a 
                                  *ngIf="actividad.estado == 'PENDIENTE' && _usService.leerRoleUsuario() == 'INGENIERO'" 
                                  class="nav-link badge badge-success" 
                                  style="margin-right: 4px; cursor:pointer; color: #ffffff"
                                  (click)="legalizarActividad(actividad._id)"
                                >
                                  <i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i>
                                </a>
                              </span>       
                              <span 
                                *ngIf="actividad.estado == 'CUMPLE' || actividad.estado == 'NO CUMPLE'"
                              >                     
                                <a 
                                  style="cursor:pointer; color: #434645"
                                  (click)="consultarActividad(actividad._id)"
                                >
                                  <i class="fa fa-folder-open fa-lg" aria-hidden="true"></i>
                                </a>  
                              </span>
                              <span 
                                class="px-1" 
                                *ngIf="actividad.estado == 'NO CUMPLE' && _usService.leerRoleUsuario() == 'INGENIERO'"
                              >
                                <a style="cursor:pointer; color: #4f6285"
                                  title="Re-legalizar Actividad"
                                  (click)="reLegalizarActividad(actividad._id)">
                                  <i class="fa fa-handshake-o fa-lg" aria-hidden="true"></i>
                                </a>    
                              </span> 
                              <span *ngIf="actividad.estado != 'PENDIENTE'">
                                <a 
                                  style="cursor:pointer; margin-left: 4px; color: #e4810f"
                                  title="Historial Actividad"
                                  (click)="historialActividad(actividad._id, actividad.ordentipotrabajo)"
                                >
                                  <i class="fa fa-outdent fa-lg" fa-lg aria-hidden="true"></i>
                                </a>    
                              </span>  
                            </div>
                          </td>
                          <td>
                            <span *ngIf="actividad.estado == 'PENDIENTE'" class="badge badge-secondary">
                              {{ actividad.estado }}
                            </span>
                            <span *ngIf="actividad.estado == 'CUMPLE'" class="badge badge-success">
                              {{ actividad.estado }}
                            </span>
                            <span *ngIf="actividad.estado == 'NO CUMPLE'" class="badge badge-danger">
                              {{ actividad.estado }}
                            </span>
                          </td>
                        </tr>
                      </span>
                    </table>
                </div>
                   
            </div>            
            
          </div>
  
        </div>
  
      </section>  
    
    </div>
  
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  
  </div>



<!-- /.card-header 
<div class="card-body">
    <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngFor="let c of camposordenes">
            <label for="{{c.name}}">{{c.label}}:</label>
            <input type="{{c.type}}" formControlName={{c.name}} class="form-control" maxlength="1200" required>
        </div>    
        <div class="form-group" >
            <label for="image">Imágenes:</label>
            <input type="file" #Image accept="image/*" 
                    class="form-control-file" 
                    (change)="fileUpload($event)"
                    multiple>
        </div>                     
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <i [ngClass]="{'fa-refresh fa-spin':loadingButton}" class="fa"></i>
                Legalizar
            </button>  
        </div>
    </form>
</div>-->