<div class="wrapper">

    <app-navbar></app-navbar>
  
    <app-sidebar></app-sidebar>
  
    <div class="content-wrapper">
  
      <section class="content">
  
        <div class="container-fluid">

            <app-title [title]="title" 
                       [breadcrumbtitle]="breadcrumbtitle" 
                       [breadcrumbtitle2]="breadcrumbtitle2">
            </app-title>
            <div class="card"> 
                <!-- /.card-header -->
                <div class="card-body">
                    <form (ngSubmit)="onSubmit( f )" #f="ngForm" class="form-group">                                
                        <div class="form-group">
                            <label for="descripcion">Nombre:</label>
                            <input 
                                type="text" 
                                name="nombre"
                                class="form-control"
                                [(ngModel)]="trabajo.nombre"
                                [ngClass]="{'is-invalid':f.submitted && f.controls['nombre'].errors}"
                                maxlength="450"
                                required
                            >
                        </div>
                        <div class="form-group">
                            <label for="empresa">Empresa:</label>
                            <select 
                                name='empresa'                         
                                class="form-control" 
                                [(ngModel)]="trabajo.empresa" 
                                [ngClass]="{'is-invalid':f.submitted && f.controls['empresa'].errors}"    
                                required
                            >                            
                                <option [value]='t._id' *ngFor='let t of listadoEmpresa'>{{ t.nombre }}</option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <label for="activo">Habilitar campo Fecha Mejora: </label>
                            <select 
                                name="fechaMejora"                         
                                class="form-control" 
                                [(ngModel)]="trabajo.fechaMejora"                                
                                [ngClass]="{'is-invalid':f.submitted && f.controls['fechaMejora'].errors}"    
                                required
                            >                            
                                <option [value]=1>Si</option>
                                <option [value]=0>No</option>                        
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="activo">Legaliza en Cualquier Orden: </label>
                            <select 
                                name="legalizaCualquierOrden"                         
                                class="form-control" 
                                [(ngModel)]="trabajo.legalizaCualquierOrden"                                
                                [ngClass]="{'is-invalid':f.submitted && f.controls['legalizaCualquierOrden'].errors}"    
                                required
                            >                            
                                <option [value]=1>Si</option>
                                <option [value]=0>No</option>                        
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gradeChart">Gráfica calificación:</label>
                            <select 
                                name='gradeChart'                         
                                class="form-control" 
                                [(ngModel)]="trabajo.gradeChart" 
                                [ngClass]="{'is-invalid':f.submitted && f.controls['gradeChart'].errors}"    
                                required
                            >                            
                                <option value="bar">Bar</option>
                                <option value="pie">Pie</option>
                            </select>
                        </div>  
                        <div class="form-group">
                            <label for="activo">Bitácora: </label>
                            <select 
                                name="bitacora"                         
                                class="form-control" 
                                [(ngModel)]="trabajo.bitacora"                                
                                [ngClass]="{'is-invalid':f.submitted && f.controls['bitacora'].errors}"    
                                required
                            >                            
                                <option [value]=1>Si</option>
                                <option [value]=0>No</option>                        
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="activo">Activo: </label>
                            <select 
                                name="activo"                         
                                class="form-control" 
                                [(ngModel)]="trabajo.activo"                                
                                [ngClass]="{'is-invalid':f.submitted && f.controls['activo'].errors}"    
                                required
                            >                            
                                <option [value]=1>Si</option>
                                <option [value]=0>No</option>                        
                            </select>
                        </div>                 
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <i [ngClass]="{'fa-refresh fa-spin':loadingButton}" class="fa"></i>
                                Guardar
                            </button>  
                        </div>      
                            
                    </form>
                </div>
            </div>

        </div>

    </section>  
    
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>

</div>